@import '../../scss/fonts';
@import '../../scss/media-queries';
@import '../../scss/mixins';
@import '../../scss/variables';

header {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 15px 20px;
  background-color: $primary;

  .inner {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    max-width: $desktop-width;

    .logo-image {
      width: 80px;
      height: 48px;
    }

    h1 {
      @include font-size(24px);
      color: $white;
      font-family: $metropolis;
      text-transform: uppercase;
    }
  }
}
